<nav class="navbar navbar-toggleable-md navbar-light navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Wiki-ECV</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Toutes les pages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/page/new">Créer une page</a>
            </li>
        </ul>

        <form class="form-inline login_form" ng-show="!ctrl.online">
            <input type="email" ng-model="ctrl.mail" class="form-control mr-sm-2" placeholder="Adresse Email">
            <span ng-show="ctrl.wrongmail">L'email n'ai pas au bon format</span>
            <input type="password" ng-model="ctrl.password" class="form-control mr-sm-2" placeholder="Mot de passe">
            <span ng-show="ctrl.nopass">Merci de renseigner un mot de passe</span>
            <button class="btn btn-outline-success my-2 my-sm-0" ng-click="ctrl.connexion(ctrl.mail, ctrl.password)" type="submit">Connexion</button>
        </form>

        <button href="/#!/inscription" class="btn btn-outline-success">Inscription</button>

        <div ng-show="ctrl.online" style="color: white;" class="welcomeMessage" >
            Bonjour {{ctrl.username}}
        </div>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 ml-sm-2" type="text" placeholder="Rechercher">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
        </form>

        <button class="btn btn-outline-success logout" ng-click="ctrl.deconnexion()">Déconnexion</button>
    </div>
</nav>