nav {
  margin-bottom: 20px; }
  nav .login_form {
    margin-right: 10px; }

p {
  margin-bottom: 5px; }

.right {
  float: right; }

.logout {
  margin: 0 10px; }

.welcomeMessage {
  display: flex;
  align-items: center;
  margin: 0 10px; }
