<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Création d'une nouvelle page</h2>
            <span ng-show="ctrl.showerror">{{ ctrl.message_error }}</span>
            <form>
                <div class="form-group">
                    <label for="page_title">Titre de la page</label>
                    <input type="text" ng-model="ctrl.titre" class="form-control" id="page_title" placeholder="Titre de la page">
                    <span ng-show="ctrl.notitre">Merci d'indiquer un titre</span>
                </div>
                <div class="form-group">
                    <label for="page_content">Contenu de la page</label>
                    <textarea ng-model="ctrl.contenu" class="form-control" id="page_content"></textarea>
                    <span ng-show="ctrl.nocontenu">Merci de renseigner du contenu</span>
                </div>
                <label for="page_status">Status :</label>
                <select ng-model="ctrl.status" id="page_status" class="custom-select">
                    <option value="online">Online</option>
                    <option value="pending_validation">En attente de validation</option>
                    <option value="canceled">Annulé</option>
                    <option value="draft">Brouillon</option>
                </select>
                <span ng-show="ctrl.nostatus">Merci de renseigner un status</span>
                <button ng-click="ctrl.addPage(ctrl.titre, ctrl.contenu, ctrl.status)" type="submit" class="btn btn-primary right">Créer</button>
            </form>
        </div>
    </div>
</div>